@use '../abstracts' as *;

.whatsapp-button {
  position: fixed;
  bottom: $spacing-6;
  right: $spacing-6;
  z-index: $z-index-whatsapp;
  background-color: #25D366;
  color: $white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  @include flex-center;
  box-shadow: 0 4px 12px rgba(#000, 0.15);
  transition: transform 0.2s ease;
  
  &:hover {
    transform: scale(1.1);
  }
}