---
---
<section class="puppy-info">
  <div class="puppy-info__container">
    <h2>Información Importante</h2>
    
    <div class="puppy-info__grid">
      <div class="card">
        <h3>Incluye</h3>
        <ul>
          <li>Certificado de pedigree</li>
          <li>Vacunas al día</li>
          <li>Desparasitación</li>
          <li>Microchip</li>
          <li>Kit de inicio</li>
        </ul>
      </div>
      
      <div class="card">
        <h3>Envíos</h3>
        <ul>
          <li>Envíos a toda Colombia</li>
          <li>Envíos a Estados Unidos</li>
          <li>Documentación completa</li>
          <li>Asesoría en el proceso</li>
        </ul>
      </div>
      
      <div class="card">
        <h3>Garantías</h3>
        <ul>
          <li>Contrato de compraventa</li>
          <li>Garantía de salud</li>
          <li>Asesoría post-venta</li>
          <li>Soporte veterinario</li>
        </ul>
      </div>
    </div>
  </div>
</section>