---
---
<section id="testimonials" class="testimonials">
  <h2>Happy Families</h2>
  <div class="carousel">
    <div class="carousel__container">
      <div class="carousel__track">
        <div class="carousel__slide">
          <div class="card">
            <p>"We couldn't be happier with our puppy. The breeder was professional and caring throughout the entire process."</p>
            <cite>- Sarah M.</cite>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>